[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
autopep8 = "*"
pycodestyle = "*"
flake8 = "*"
python-dotenv = "*"
pandas = "*"
google-generativeai = "*"
sqlalchemy = "*"
flask = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
psycopg = "*"

[dev-packages]

[requires]
python_version = "3.11"
