[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
autopep8 = "*"
pycodestyle = "*"
flake8 = "*"
python-dotenv = "*"
google-generativeai = "*"
flask = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
psycopg = "*"
flask-restful = "*"
werkzeug = "==3.0.3"
jinja2 = "==3.1.4"
tqdm = "==4.66.3"

[dev-packages]

[requires]
python_version = "3.11"
